$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 380px)";

html {
  // font-family: Verdana, Geneva, sans - serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
}
body {
  color: rgb(34, 34, 34) !important;
  // background-color: cornsilk;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#content {
  margin: auto;
  max-width: 895px;
  background-color: white;
}

@media #{$media-tablet} {
  #content {
    .jn-head {
      .jn-overview {
        p {
          font-size: 1rem;
        }
      }
    }
    main {
      flex-direction: column;
    }
  }
}

@media #{$media-mobile} {
}
