$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 380px)";

html {
  // font-family: Verdana, Geneva, sans - serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(6.5px, 0.95vw, 10.7px);
  font-weight: 600;
  color: #575757;
  line-height: 1.43;
}
body {
  color: #575757;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
strong {
  font-weight: 800;
  letter-spacing: 0.6px;
}
.red {
  color: #e30613;
}
header {
  width: 100%;

  img {
    width: 100%;
  }
}
main {
  margin: auto;
  max-width: 200mm;
  height: 260mm;
  background-color: white;
  background-image: url("./img/dummy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .jn-intro {
    padding: 4.8mm 4.8mm 0;

    p {
      margin-bottom: 10px;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 3mm;
    }
  }
  .jn-main {
    padding: 0 4.8mm;

    h2 {
      font-size: 1rem;
      color: #e30613;
      font-weight: 800;
      letter-spacing: 0.6px;
    }
    h2 ~ h2 {
      margin-top: 3.2rem;
    }
  }
}
footer {
  display: flex;
  padding: 2mm 4.8mm 4.8mm;

  .logo {
    width: 50%;

    img {
      width: 100%;
    }
  }
  .address {
    align-self: flex-end;
    margin-left: 12%;
  }
}

@media #{$media-tablet} {
  main {
    flex-direction: column;
  }
}

@media #{$media-mobile} {
}
